@charset "UTF-8";

/* main.css */

body, p, div, span, input, table, th, td, select
{
	font-size: 18px;
	color: #343;
	font-family: 맑은 고딕;
}

.control
{
	border: 1px solid gray;
	border-radius: 3px;
}

.table
{
	border-collapse: collapse;
	width: 100%;
}

.table th, table td
{
	border: 1px solid gray;
	border-left: 0px;
	border-right: 0px;
	padding: 3px;
	line-height: 150%;
}

.table th
{
	font-weight: bold;
	background-color: #EEE;
}

.btn
{
	font-weight: bold;
}

.btn:hover
{
	color: white;
	background-color: #778877;
}

input.txt
{
	color: #51067d;
	font-weight: bold;
}

input.txt:focus
{
	background-color: #99ff99;
}
